{% extends 'agency/base.html' %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="card-custom mx-auto" style="max-width: 700px;">
  <h2 class="section-title">Часто задаваемые вопросы</h2>
  <ul class="list-group list-group-flush mt-4">
    <li class="list-group-item"><b>Как зарегистрироваться?</b><br>Перейдите на страницу регистрации и заполните все поля.</li>
    <li class="list-group-item"><b>Как купить недвижимость?</b><br>Выберите объект, нажмите "Купить" и следуйте инструкциям.</li>
    <li class="list-group-item"><b>Как применить промокод?</b><br>Введите промокод на странице оплаты.</li>
    <li class="list-group-item"><b>Кто может добавлять недвижимость?</b><br>Добавлять объекты могут только сотрудники и администраторы.</li>
    <li class="list-group-item"><b>Как связаться с поддержкой?</b><br>Используйте форму обратной связи или напишите на support@example.com.</li>
  </ul>
</div>
{% endblock %} 