{% extends 'agency/base.html' %}
{% block title %}Словарь терминов{% endblock %}
{% block content %}
<div class="card-custom mx-auto" style="max-width: 700px;">
  <h2 class="section-title">Словарь терминов</h2>
  <dl class="row mt-4">
    <dt class="col-sm-4">Агент</dt>
    <dd class="col-sm-8">Сотрудник агентства недвижимости, помогающий с покупкой/продажей.</dd>
    <dt class="col-sm-4">Клиент</dt>
    <dd class="col-sm-8">Пользователь, ищущий или покупающий недвижимость.</dd>
    <dt class="col-sm-4">Промокод</dt>
    <dd class="col-sm-8">Код, дающий скидку на покупку недвижимости.</dd>
    <dt class="col-sm-4">Риэлтор</dt>
    <dd class="col-sm-8">Профессиональный посредник при сделках с недвижимостью.</dd>
    <dt class="col-sm-4">Транзакция</dt>
    <dd class="col-sm-8">Факт покупки или аренды недвижимости.</dd>
  </dl>
</div>
{% endblock %} 